@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
	--drop-shadow: 0 0 5px rgba(0, 0, 0, .75);
	--inset-border: 1px 0 0 rgba(255, 255, 255, .5) inset, -1px 0 0 rgba(255, 255, 255, .5) inset, 0 1px rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .5) inset;
	--game-bg: linear-gradient(dodgerblue, #123456);
	--ball-empty: radial-gradient(circle at 70% 70%, #3d3d3d, #161616);
	--ball-black: radial-gradient(circle at 30% 30%, #d3d3d3, #736c6c 33%, black);
	--ball-white: radial-gradient(circle at 30% 30%, white, #bfbfbf 33%, #7d7878);
	--ball-color0: radial-gradient(circle at 30% 30%, #ffa7a7, #ff1f1f 33%, #730909);
	--ball-color1: radial-gradient(circle at 30% 30%, #aeffa7, #31ff1f 33%, #117309);
	--ball-color2: radial-gradient(circle at 30% 30%, #a7c5ff, #1f6aff 33%, #092c73);
	--ball-color3: radial-gradient(circle at 30% 30%, #fff1a7, #ffda1f 33%, #736109);
	--ball-color4: radial-gradient(circle at 30% 30%, #ffa7ff, #ff1fff 33%, #730973);
	--ball-color5: radial-gradient(circle at 30% 30%, #a7fff0, #1fffda 33%, #097361);
}

.App {
	background: var(--game-bg);
	position: fixed;
	width: 100vw;
	height: 100vh;
	font-family: Teko, Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Codebreaker {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 500px;
	width: 100%;
	max-width: 300px;
}

/* header */
.Codebreaker header {
	background-image: url('../assets/game_bg.jpg');
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	height: 100px;
	box-sizing: border-box;
	box-shadow: var(--drop-shadow);
}

.Codebraker__title {
	display: flex;
	justify-content: stretch;
	align-items: center;
	width: 100%;
	padding: 7px 7px 0px 7px;
	box-sizing: border-box;
}

.Codebraker__title h1 {
	font-size: 30px;
	text-align: center;
	flex: 1;
	font-weight: normal;
}

.Codebraker__title nav {
	width: 40px;
	height: 40px;
	background-image: url('../assets/menu_btn.png');
	cursor: pointer;
	position: relative;
}

/* play-area */
.Codebreaker__play-area {
	margin-top: 10px;
	background-image: url('../assets/game_bg.jpg');
	border-radius: 8px;
	box-shadow: var(--drop-shadow);
}

/* modal */
.Modal__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	text-shadow: -2px 0 0 rgba(0, 0, 0, .35), 2px 0 0 rgba(0, 0, 0, .35), 0 -2px 0 rgba(0, 0, 0, .35), 0 2px 0 rgba(0, 0, 0, .35);
	text-align: center;
	line-height: 22px;
}

.Modal__content p {
	font-size: 22px;
	margin-bottom: 15px;
}

.Modal__button {
	background-image: url('../assets/button_bg.png');
	border: none;
	background-color: transparent;
	width: 100px;
	height: 50px;
	border: none;
	color: white;
	font-size: 32px;
	font-family: Teko, Arial, Helvetica, sans-serif;
	padding-top: 3px;
	text-shadow: -1px 0 0 rgba(0, 0, 0, .35), 1px 0 0 rgba(0, 0, 0, .35), 0 -1px 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(0, 0, 0, .35);
	cursor: pointer;
}

/* como jogar */
.Modal__content ul {
	margin-bottom: 10px;
}

.Modal__how-to-play p,
.Modal__how-to-play li {
	font-size: 18px;
	line-height: 16px;
	text-shadow: -2px 0 0 rgba(0, 0, 0, .5), 2px 0 0 rgba(0, 0, 0, .5), 0 -2px 0 rgba(0, 0, 0, .5), 0 2px 0 rgba(0, 0, 0, .5);
}

.Modal__content li {
	text-align: left;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* menu */
.menu {
	background-image: url('../assets/menu_bg.jpg');
	position: absolute;
	right: -1px;
	top: -1px;
	padding: 10px 2px;
	z-index: 2;
	box-shadow: var(--drop-shadow), var(--inset-border);
	width: 166px;
	border-radius: 8px;
	transform: scale(1);
	transform-origin: top right;
	transition: transform .4s;
	transition-timing-function: cubic-bezier(0, .4, .3, 1.25);
}

.menu.hidden {
	transform: scale(0);
	transition: transform .2s;
	transition-timing-function: cubic-bezier(.75, -0.35, 1, .6);
}

.menu li {
	color: white;
	text-shadow: -1px 0 0 rgba(0, 0, 0, .35), 1px 0 0 rgba(0, 0, 0, .35), 0 -1px 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(0, 0, 0, .35);
	font-size: 22px;
	text-align: right;
	padding-right: 15px;
	list-style: none;
}

.menu li:hover {
	background-color: rgba(0, 0, 0, .35);
}

.menu__li-select {
	position: relative;
	height: 40px;
}

.menu__li-select:hover {
	background-color: transparent;
	cursor: default;
}

.menu__outer-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

/* seletor de idiomas */
.combobox {
	display: inline-block;
	background-color: rgba(0, 0, 0, .5);
	color: white;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 4px;
	height: 30px;
	overflow-y: hidden;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 12px;
}

.combobox:hover {
	height: auto;
	overflow-y: visible;
}

.combobox__current::after {
	content: '🞃';
	margin-left: 10px;
	font-size: 16px;
}

.combobox:hover .combobox__current::after {
	content: '🞁';
	margin-top: 5px;
}

.combobox li {
	padding: 0 15px;
	background-color: rgba(0, 0, 0, .6);
}

.combobox li:hover,
.combobox__current {
	background-color: black;
}

.combobox__current {
	display: flex;
	padding-right: 8px;
}