.Modal {
	position: fixed;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Modal .window {
	width: 250px;
	background-image: url('../assets/modal_bg.jpg');
	color: white;
	box-shadow: var(--drop-shadow);
}

.Modal .window .title-bar {
	text-shadow: -2px 0 0 rgba(0, 0, 0, .35), 2px 0 0 rgba(0, 0, 0, .35), 0 -2px 0 rgba(0, 0, 0, .35), 0 2px 0 rgba(0, 0, 0, .35);
	font-size: 48px;
	font-weight: normal;
	line-height: 45px;
	text-align: center;
	padding-top: 5px;
	background-image: url('../assets/modal_title_bg.jpg');
}